h1 {
    margin-top: 25px;
    text-align: center;
}

img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.left_photo, .right_photo {
    margin-top: 10px;
    text-align: center;
}

#jquery-wrapped-fine-uploader {
    margin-left: 80%;
    margin-bottom: 10px;
    width: 270px;
}

#container {
    height: 100%;
    margin-bottom: 30px;
}

#left-part {
    width: 50%;
    float: left;
}

#right-part {
    width: 50%;
    float: right;
}

li {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 24px;
    background-color: #ccc;
}

li a {
    text-decoration: none;
    padding: 0 6px;
    color: #000;
}

#delete label {
    padding: 0 6px;
    cursor: pointer;
}
